main {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 20px;
  user-select: none;
}

main .editor-container {
  height: calc(100vh - 110px);
  margin-top: 20px;
  position: relative;
  box-sizing: border-box;
  overflow: scroll;
}

main .canvas-container {
  height: calc(100vh - 250px);
  display: flex;
  justify-content: center;
  align-items: center;
}

main .canvas-container-full {
  height: calc(100vh - 170px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas-wraper {
  position: relative;
  background-color: black;
}

.borderCanvas {
  outline: 1px solid #000000;
}

#canvas1 {
  background-color: #fff;
  position: absolute;
  z-index: 2;
}

#canvas2 {
  position: absolute;
  display: none;
  background-color: #fff;
}

#canvas3 {
  background-color: #fff;
  position: absolute;
  display: none;
}

#canvas4 {
  background-color: #fff;
  position: absolute;
}
