nav {
  height: 70px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
}

nav .row {
  display: flex;
  align-items: center;
}

nav img {
  width: 49.86px;
  height: 24px;
}

nav div {
  font-size: 18px;
  font-weight: 300;
}

nav span {
  margin-left: 10px;
  font-weight: 600;
}

.home-container .circle-container {
  height: 35px;
  width: 35px;
  background-image: url("https://images.pexels.com/photos/1680172/pexels-photo-1680172.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=80");
  border-radius: 50%;
  background-position: center;
  margin-right: 40px;
}

.home-container .image-container {
  margin-top: 20px;
  background-color: #bf506b;
  background-image: url('https://images.unsplash.com/photo-1553356084-58ef4a67b2a7?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fGRhcmslMjBjb2xvcnN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=60');
  height: 250px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
}

.home-container .image-container p {
  font-size: 26px;
  font-weight: 600;
}

.home-container .image-container .search-box {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  position: relative;
}

.home-container .image-container input {
  height: 40px;
  width: 100%;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background: #f8f8f9;
  padding-left: 40px;
  font-weight: 300;
}

.home-container .image-container .search-box img {
  position: absolute;
  left: 10px;
  top: 18px;
}

.home-container .image-container .card-container {
  height: 55px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.home-container .image-container .card-container div:nth-child(1):hover {
    background-color: rgba(248, 248, 249, 0.8);
}

.home-container .image-container .card-container div:nth-child(2):hover {
    background-color: rgba(248, 248, 249, 0.8);
}

.home-container .image-container .card-container div:nth-child(3):hover {
    background-color: rgba(248, 248, 249, 0.8);
}

.home-container .image-container .card-container div:nth-child(4):hover {
    background-color: rgba(248, 248, 249, 0.8);
}

.home-container .image-container .card-container div:nth-child(1) {
  width: 55px;
  height: 30px;
  background-color: rgba(248, 248, 249, 0.5);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.home-container .image-container .card-container div:nth-child(2) {
  width: 30px;
  height: 55px;
  background-color: rgba(248, 248, 249, 0.5);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.home-container .image-container .card-container div:nth-child(3) {
  width: 30px;
  height: 30px;
  background-color: rgba(248, 248, 249, 0.5);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.home-container .image-container .card-container div:nth-child(4) {
  width: 30px;
  height: 39px;
  background-color: rgba(248, 248, 249, 0.5);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.home-container .image-container .card-container .title {
  color: #000;
  font-size: 10px;
  z-index: 2;
}

/* create-design */
.home-container .create-design {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
}

.home-container .create-design .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-container .create-design .container {
  display: flex;
  margin-top: 10px;
  overflow: scroll;
}

.home-container .create-design .title {
  font-weight: 600;
  font-size: 18px;
}

.home-container .container .center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.home-container .custom  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container .custom div {
  width: 85px;
  height: 85px;
  border: 1px solid #808080;
  border-radius: 5px;
  margin:0px 3px
}

.home-container .presentation div {
  width: 150px;
  height: 85px;
  background: #0078ff;
  border-radius: 5px;
}

.home-container .story div {
  width: 48px;
  height: 85px;
  border-radius: 5px;
  background: #00ecc2;
  margin:0px 18px
}

.home-container .instagram-post div {
  width: 85px;
  height: 85px;
  background: #ff8a25;
  border-radius: 5px;
  margin:0px 12px
}

.home-container .facebook-post div {
  width: 102px;
  height: 85px;
  background: #ff43ca;
  border-radius: 5px;
  margin:0px 10px
}

.home-container .youtube-thumbnail div {
  width: 152px;
  height: 85px;
  background: #43ddff;
  border-radius: 5px;
}

.home-container .linkedin-post div {
  width: 85px;
  height: 85px;
  background: #ff7043;
  border-radius: 5px;
  margin:0px 15px
}

.home-container .twitter-post div {
  width: 152px;
  height: 85px;
  background: #ff7043;
  border-radius: 5px;
}

.home-container .pinterest-pin div {
  width: 57px;
  height: 85px;
  background: #ff7043;
  border-radius: 5px;
  margin:0px 15px
}

.home-container .facebook-ad div {
  width: 162px;
  height: 85px;
  background: #ff7043;
  border-radius: 5px;
}

.home-container .create-design .container .title {
  font-weight: 500;
  font-size: 14px;
  margin-top: 5px;
}

.home-container .create-design .container .sub-title {
  color: #404040;
  font-size: 12px;
  opacity: 0;
}

.home-container .create-design .container div:hover > .sub-title{
  display: unset;
  opacity: 1
}

.home-container .design {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  margin-right: 20px;
}

.home-container .design img {
  height: 110px;
  width: auto;
  border-radius: 5px;
  margin-bottom: 5px;
}

.home-container .container .project-name {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}