.admin-popup {
    height: 100vh;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-popup .fields {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.admin-popup .fields textarea {
    height: 60px;
    padding: 2px 5px;
    margin-bottom: 10px;
    width: 400px;
    resize: none;
    border-radius: 10px;
}

.admin-popup .fields div {
    display: flex;
    justify-content: space-between;
}

.admin-popup .fields button {
    background-color: greenyellow;
    border: none;
    height: 50px;
    width: 140px;
    border-radius: 10px;
    align-self: center;
    margin-top: 10px;
}