.animation-container .animation-button-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.animation-container .animation-button-container button {
  width: 90px;
  background: rgba(66, 103, 178, 0.1);
  border-radius: 5px;
  border: none;
  padding: 5px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.animation-container .animation-types-container {
  margin-top: 20px;
}

.animation-container .animation-types-container .non-container {
    display: flex;
    flex-direction: column;
    font-size: 10px;
}

.animation-container .animation-types-container img {
    width: 40px;
    height: auto;
}

.animation-container .animation-container-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.animation-container .animation-duration-container {
  margin-top: 20px;
  font-size: 14px;
}

.animation-container .animation-duration-container .slider-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.animation-container .animation-duration-container input {
  margin-bottom: 15px;
  width: 80%;
}