.apps-container {
    padding: 15px;
}

.apps-container .cards {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.apps-container .cards img {
    height: auto;
    width: 140px;
    border-radius: 10px;
    margin-right: 10px;
}

.apps-container .cards .title {
    font-size: 14px;
    font-weight: 500;
}

.apps-container .cards .subtitle {
    font-size: 14px;
    font-weight: 300;
}