.art-board {
  width: 100%;
  margin-top: 10px;
  display: flex;
  height: 130px;
  background: #fff;
  border-radius: 10px;
  flex-direction: column;
}

.art-board .header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  font-size: 10px;
}

.art-board .header-bar div {
  display: flex;
  align-items: center;
}

.art-board .header-bar div span:nth-child(1) {
  margin-right: 20px;
}

.art-board .header-bar img {
  margin: 0px 5px;
}

.art-board .header-bar .play-container span {
  margin: 0px 5px;
}

/* layer section */
.art-board .layer {
  padding: 0px 20px;
  font-size: 10px;
  height: 20px;
  display: flex;
  align-items: center;
}

.art-board .layer-name {
  height: 20px;
  background: rgba(255, 67, 89, 0.2);
  border: 2px solid #ff4359;
  border-radius: 5px;
  padding: 0px 20px;
  margin-left: 30px;
}

.art-board .artboard-seen {
  height: 31px;
  font-size: 10px;
  padding: 0px 20px;
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.art-board .artboard-seen img {
  height: 31px;
  width: auto;
  margin-left: 20px;
}

.art-board .artboard-seen button {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: none;
  background-color: #4267B2;
  margin-left: 20px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  padding: 2px 0px;
}

.art-board .audio-container {
  font-size: 10px;
  height: 20px;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  margin-top: 5px;
}

.art-board .audio-container .audio {
  height: 20px;
  width: 500px;
  background: rgba(255, 138, 37, 0.2);
  display: flex;
  align-items: center;
  margin-left: 30px;
  padding: 0px 10px;
  border-radius: 10px;
}

.art-board .audio-container button {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #FF8A25 ;
  border: none;
  font-size: 12px;
  color: #fff;
  margin-left: 20px;
  padding: 1px 2px;
}

#image-preview {
  position: absolute;
  top: -100000px;
}
