.component-container {
  padding: 15px;
  overflow: scroll;
}

.component-container .input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 14px;
}

.component-container .text-title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.component-container .text-title-row .heading {
  font-size: 24px;
  font-weight: bold;
}

.component-container .text-title-row .subheading {
  font-size: 18px;
  font-weight: 600;
}

.component-container .text-title-row .body {
  font-size: 14px;
}

.component-container .input-container .seeall{
    font-size: 12px;
}

.component-container .cards {
    margin-top: 12px;
    display: flex;
}

.component-container .cards img {
    height: auto;
    width: 150px;
    border-radius: 10px;
    margin-right: 10px;
}