/* Design Container */
.design-container {
  padding: 15px;
  font-size: 18px;
}

.design-container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.design-container .title {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(64, 64, 64, 0.1);
}

.design-container .title span {
  margin-right: 20px;
}

.design-container .first-container {
  padding: 10px 0px;
}

.design-container .first-container .hover-components {
  position: absolute;
  top: -1000px;
}

.design-container .first-container:hover .hover-components {
  position: relative;
  top: 0px;
}

.design-container .first-container .element-name-container {
  padding: 5px 0px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.design-container .first-container .element-name-container input {
  border: none;
  padding: 5px;
}

.design-container .first-container .element-name-container .hover-components {
  display: flex;
  align-items: center;
}

.design-container
  .first-container
  .element-name-container
  .hover-components
  img {
  margin-left: 30px;
  height: 20px;
  width: 20px;
}

.design-container .first-container .icon-container {
  margin-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(64, 64, 64, 0.1);
}

/* state section stare */
.design-container .state {
  padding-bottom: 10px;
  margin-top: 5px;
  border-bottom: 1px solid rgba(64, 64, 64, 0.1);
}

.design-container .state .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.design-container .state .coordinate-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.design-container .state .coordinate-container .state-container {
  display: flex;
}

.design-container .state .coordinate-container .state-container div {
  margin-top: 12px;
}

.design-container .state .coordinate-container .state-container img {
  margin-top: 12px;
}

.design-container .state .coordinate-container .state-container input {
  margin-top: 12px;
  width: 50px;
  padding: 0px 5px;
  border: none;
}

.design-container .state .coordinate-container .state-container .title1 {
  color: #808080;
  margin-right: 35px;
}

/* text section stared */
.design-container .text-edit-container {
  padding: 15px 0px;
  border-bottom: 1px solid rgba(64, 64, 64, 0.1);
}

.design-container .text-edit-container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.design-container .text-edit-container textarea {
  margin-top: 12px;
  width: 100%;
  height: 80px;
  padding: 5px;
  border: none;
  resize: none;
  background: #f8f8f9;
  border-radius: 10px;
}

.design-container .text-edit-container .text-container-holder {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 5px;
  align-items: center;
}

.design-container .text-edit-container .text-container {
  display: flex;
  align-items: center;
  position: relative;
}

.design-container
  .text-edit-container
  .text-container
  .fontSize:hover
  ~ .fontHoverList {
  display: unset;
}

.design-container .text-edit-container .text-container .fontHoverList:hover {
  display: unset;
}

.design-container .text-edit-container .text-container .fontHoverList {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 5px 40px;
  border-radius: 5px;
  height: 150px;
  overflow: scroll;
  left: -10px;
  top: 50px;
}

.design-container .text-edit-container .text-container div {
  margin-top: 12px;
}

.design-container .text-edit-container .text-container img {
  margin-top: 12px;
  height: 15px;
  width: 12px;
}

.design-container .text-edit-container .text-container input {
  width: 40px;
  border: none;
  padding: 0px 5px;
  margin-top: 12px;
}

.design-container .text-edit-container .text-container .image-container-down {
  margin-left: 20px;
}

.design-container
  .text-edit-container
  .text-container
  .image-container-down
  input {
  margin-top: 12px;
  width: 40px;
  padding: 0px 5px;
  border: none;
}

.design-container .text-edit-container .text-edit-functionality {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.design-container .text-edit-container .text-edit-functionality img {
  height: 19px;
  width: 19px;
}

.design-container .colors {
  padding: 15px 0px;
  border-bottom: 1px solid rgba(64, 64, 64, 0.1);
  font-size: 14px;
}

.design-container .colors .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.design-container .colors .color-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.design-container .colors .color-container .block-container {
  display: flex;
  align-items: center;
}

.design-container .colors .color-container .block {
  display: block;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 3px;
  margin-bottom: 2px;
}

/*blend start*/
.design-container .blend {
  padding: 15px 0px;
  border-bottom: 1px solid rgba(64, 64, 64, 0.1);
  font-size: 14px;
}

.design-container .blend .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.design-container .transperency-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.design-container .transperency-container span {
  display: flex;
  align-items: center;
}

.design-container .transperency-container .marginLeft {
  margin-left: 15px;
}

.design-container .transperency-container input {
  width: 40px;
  padding: 0px 5px;
  border: 0px;
}

/* effects start*/
.design-container .effects {
  border-bottom: 1px solid rgba(64, 64, 64, 0.1);
  padding: 15px 0px;
  font-size: 14px;
}

.design-container .effects .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.design-container .effects .shadow-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.design-container .effects .shadow-container span {
  display: flex;
}

.design-container .effects .shadow-container .marginLeft {
  margin-left: 15px;
}

.design-container .effects .shadow-state {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.design-container .effects .state-shadow-container {
  display: flex;
  align-items: center;
}

.design-container .effects .state-shadow-container .title2 {
  color: #808080;
  margin-right: 30px;
}

.design-container .effects .state-shadow-container div {
  margin-top: 12px;
}

.design-container .effects .state-shadow-container input {
  margin-top: 12px;
  width: 40px;
  padding: 0px 5px;
  border: none;
}

.design-container .effects .color-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.design-container .effects .color-container .block-container {
  display: flex;
  align-items: center;
}

.design-container .effects .color-container .block {
  display: block;
  height: 20px;
  width: 20px;
  background-color: #000;
  margin-right: 10px;
  border-radius: 3px;
  margin-bottom: 2px;
}

.design-container .effects .blur {
  margin-top: 10px;
}

.design-container .effects .blur span {
  color: #808080;
  margin-right: 30px;
}

.design-container .effects .blur input {
  width: 50px;
  padding: 0px 5px;
  border: none;
}

/* layout */
.design-container .layout {
  font-size: 14px;
  padding: 15px 0px;
  border-bottom: 1px solid rgba(64, 64, 64, 0.1);
}

.design-container .layout .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.design-container .layout-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  margin-top: 12px;
}

.design-container .layout-title {
  margin-left: 20px;
}

.design-container .center {
  display: flex;
  align-items: center;
}

/* filter */
.design-container .filter {
  font-size: 14px;
  padding: 15px 0px;
  border-bottom: 1px solid rgba(64, 64, 64, 0.1);
}

.design-container .filter .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.design-container .filter .filter-container {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.design-container .filter .filter-container .filter-container-sub {
  display: flex;
  align-items: center;
}

.design-container .filter-container .filter-container-sub .left-margin {
  margin-left: 30px;
}

/* Colors */
.design-container .colors {
  font-size: 14px;
  padding: 15px 0px;
  border-bottom: 1px solid rgba(64, 64, 64, 0.1);
}

.design-container .filter .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.design-container .colors .svg-color-container {
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 5px;
}

.design-container .colors .colorBlockSvg {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  margin-right: 10px;
  border: 1px solid #828282;
}

/* Canvas */
.canvas-state {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 14px;
  align-items: center;
}

.canvas-state .state-title {
  color: #808080;
  margin-right: 30px;
}

.canvas-state input {
  width: 70px;
  border: none;
  padding: 2px 5px;
}

/* style */

.design-container .style {
  padding: 15px 0px;
  border-bottom: 1px solid rgba(64, 64, 64, 0.1);
  font-size: 14px;
}

.style-container {
  display: flex;
  justify-content: space-between;
}

.style-container .style-subContainer {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.style-container .style-subContainer span:nth-child(1) {
  margin-right: 20px;
}

.checkBox {
  display: block;
  height: 15px;
  width: 15px;
  border: 1px solid #000;
  border-radius: 3px;
}

.style .color-container {
  display: flex;
  align-items: center;
  margin-top: 15px;
  justify-content: space-between;
}

.style .block-container {
  display: flex;
  align-items: center;
}

.style .color-container .block {
  display: block;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 3px;
  margin-bottom: 2px;
}

/* layout Canvas */
.layout-canvas {
  padding: 15px 0px;
  font-size: 14px;
}

.layout-subContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.layout-subContainer :nth-child(2) {
  margin-left: 20px;
}

.design-container .filter-adjust {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

/* The slider itself */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2px;
  border-radius: 50%;
  background: #808080;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin-top: 15px;
}

/* Mouse-over effects */
input[type="range"]:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #fff;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #fff;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.check-box {
  height: 20px;
  width: 20px;
  text-align: center;
  border-radius: 5px;
  font-size: 12px;
  border: 1px solid #000;
}

input[type="text"]:hover,
input[type="number"]:hover {
  background-color: #dcdcdc;
  border-radius: 5px;
}

.chart-editor-container {
  padding: 15px 0px;
}

.design-container .chart-editor {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.design-container .chart-editor input {
  width: 60px;
  padding: 2px 5px;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
}

.design-container .chart-editor span {
   margin-left: 20px;
   width: 30px;
   border-radius: 5px;
}

/* duration container start */

.design-container .duration-container {
  padding: 15px 0px;
  border-bottom: 1px solid rgba(64, 64, 64, 0.1);
}

.design-container .duration-container .header span:nth-child(2){
  font-size: 14px;
  font-weight: 400;
  color: #808080;
}

.design-container .duration-container .duration-sub-container{
  display: flex;
  margin-top: 10px;
  font-size: 14px;
  justify-content: space-between;
}

.design-container .duration-container .duration-sub-container div span:nth-child(1){
  color: #808080;
  margin-right: 20px;
}

.design-container .duration-container input {
  width: 45px;
  padding: 0px 2px;
  border: none;
}