.element-container {
  padding: 15px;
}

.element-container .elements {
  display: grid;
  grid-template-columns: repeat(3, minmax(60px, 1fr));
  gap: 10px;
  align-items: center;
}

.element-container .elements img {
  display: inline-block;
  width: 70%;
  margin-top: 10px;
}

.heatSvgAndImage {
  position: absolute;
  top: -40000px;
}
