.filters-container .header {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 400;
}

.filters-container .filters {
    margin-top: 20px;
}

.filters-container .filters img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.filters-container .filters .container {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.filters-container .filters .all-filters{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 15px;
}

.filters-container .filters .cali {
    filter: brightness(122%) contrast(54%) saturate(138%) 
}

.filters-container .filters .drama {
    filter: brightness(90%) contrast(121%) saturate(134%) 
}

.filters-container .filters .edge {
    filter: brightness(110%) contrast(76%) saturate(126%);
}

.filters-container .filters .epic {
    filter: brightness(106%) contrast(120%) saturate(86%) blur(0.1px);
}

.filters-container .filters .festive {
    filter: brightness(110%) contrast(121%) saturate(124%);
}

.filters-container .filters .grayscale {
    filter: brightness(115%) contrast(80%) saturate(0%);
}

.filters-container .filters .nordic {
    filter: brightness(115%) contrast(84%) saturate(50%);
}

.filters-container .filters .retro {
    filter: contrast(86%) saturate(82%);
}

.filters-container .filters .rosie {
    filter: contrast(155%) saturate(72%);
}

.filters-container .filters .selfie {
    filter: brightness(110%) contrast(88%) saturate(88%);
}

.filters-container .filters .street {
    filter: brightness(93%) contrast(121%) saturate(5%);
}

.filters-container .filters .summer {
    filter: brightness(110%) contrast(114%) saturate(118%);
}

.filters-container .filters .blues {
    filter: brightness(163%) contrast(63%) saturate(74%);
}

.filters-container .filters .whimsical {
    filter: brightness(143%) contrast(85%) saturate(47%);
}

