.font-container {
    margin-top: 15px;
}

.font-container .header-font {
    font-size: 18px;
    font-weight: 500;
}

.font-container .fonts-list {
    margin-top: 10px;
    font-size: 14px;
}

.font-container .font-name {
    padding: 15px 10px;
    border-radius: 10px;
}

.font-container .font-name:hover {
    background-color: #F8F8F9;
}