.modal-image {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-image .holder-modal {
  background-color: #fff;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.modal-image .header-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
}

.modal-image .crop-modal {
  height: 35px;
  width: 35px;
}

.modal-image button {
  align-self: flex-end;
  margin-top: 15px;
  border: 2px solid #00b900;
  border-radius: 10px;
  width: 109px;
  height: 41px;
  background-color: #fff;
}

.modal-image .image-edit {
  height: 300px;
  width: auto;
}
