.layer-container {
    padding: 15px;
    overflow: scroll;
}

.layer-container .layer-section {
    margin-top: 12px;
    padding: 12px 0px;
}

.layer-container .layer-section .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    height: 45px;
    padding: 0px 10px;
}

.layer-container .layer-section .card:hover {
    background: rgba(255, 138, 37, 0.1);
    border-radius: 5px;
}

.layer-container .layer-section .layer-button-container {
    display: flex;
    align-items: center;
}

.layer-container .layer-section .layer-button-container img {
    height: 20px;
    width: 20px;
    margin-left: 30px;
}