.left-side-bar-container {
  width: 430px;
  height: calc(100vh - (70px + 40px));
  margin-top: 20px;
  background-color: #F8F8F9;
  display: flex;
  align-items: center;
  border-top-right-radius: 10px;
}

.left-side-bar-container .button-container {
  margin: 20px;
  width: 70px;
  padding: 5px 0px;
  font-size: 8px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-right: 1px solid #f8f8f9;
  border-radius: 10px;
}

.left-side-bar-container .button-container button {
  border: none;
  padding: 10px 0px;
  background-color: #fff;
  width: 100%;
}

.left-side-bar-container .button-container button:hover{
  background-color: #F2F2F2;
}

.left-side-bar-container .button-container button .button-title {
  margin-top: 5px;
  font-size: 10px;
}

.left-side-bar-container .preview-container {
  width: calc(430px - 110px);
  height: calc(100vh - (70px + 40px));
  overflow: scroll;
  background-color: #fff;
  border-radius: 10px;
}

.left-side-bar-container .button-container .active {
  /*border-left:3px solid#FF8A25;*/
  background-color: #FFF9F4;
}

.left-side-bar-container .preview-container .hide-left-bar {
  position: absolute;
  top: 4000px;
  bottom: 0px;
  right: 4000px;
}

.left-side-bar-container .preview-container .hide-left-bar img {
  height: 2px;
  width: auto;
}