.loader-container-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 110px);
    margin: 20px;
    border-radius: 10px;
    background-color: #fff;
}