.media-container {
  padding: 5px 15px;
}

.media-container .media-header {
  padding: 10px 0px;
  border-bottom: 1px solid rgba(64, 64, 64, 0.1);
  font-size: 18px;
}

.media-container .media-header span {
  margin-right: 30px;
}

.media-container .media-header .active {
  font-weight: 600;
}

.media-container .hide {
  position: absolute;
  left: -10000px;
  bottom: -10000px;
}

.media-container .media-image-container {
  margin: 10px 0px;
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-template-rows: masonry;
  gap: 10px;
  align-items: center;
}

.media-container .media-image-container img {
  display: inline-block;
  width: 100%;
  border-radius: 5px;
}

.media-container .media-image-container video {
  display: inline-block;
  width: 100%;
  border-radius: 5px;
}

.load-more {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  background: #ff8a25;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  margin: 10px 0px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #000;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.audio-card {
  display: flex;
  margin-top: 15px;
}

.audio-card audio {
  width: 80%;
}

.audio-card button {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  font-weight: 300;
  font-size: 20px;
}

.audio-card button:focus  {
  border: 1px solid#ff8a25;
  color:#ff8a25 ;
}
