nav {
  height: 70px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
}

nav .row {
  display: flex;
  align-items: center;
}

nav img {
  width: 49.86px;
  height: 24px;
}

nav div {
  font-size: 18px;
  font-weight: 300;
}

nav span {
  margin-left: 10px;
  font-weight: 600;
}

nav .project-info {
  font-size: 14px;
  margin-left: 50px;
}

nav .project-info span:nth-child(1) {
  font-weight: 400;
}

nav .project-info span:nth-child(2) {
  font-weight: 300;
  margin-left: 50px;
  cursor: pointer;
}

nav .row .share {
  background-color: #fff;
  border: none;
  display: flex;
  align-items: center;
}

nav .row .share span {
  margin-left: 0px;
  font-size: 14px;
  font-weight: 500;
  color: #ff8a25;
  margin-right: 40px;
}

nav .row .cache {
  border: 2px solid #0078ff;
  background-color: #fff;
  height: 45px;
  width: 150px;
  display: flex;
  align-items: center;
  color: #0078ff;
  font-size: 14px;
  margin-right: 40px;
  border-radius: 10px;
}

nav .row .download {
  border: 2px solid #ff8a25;
  background-color: #fff;
  height: 45px;
  width: 150px;
  display: flex;
  align-items: center;
  color: #ff8a25;
  font-size: 14px;
  margin-right: 40px;
  border-radius: 10px;
}

nav input {
  border: none;
}
