.template-container {
    padding: 15px;
}

.template-container .template-section .header {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    align-items: center;
}

.template-container .template-section .header span:nth-child(1){
    font-size: 16px;
    font-weight: 500;
}

.template-container .template-section .header span:nth-child(2){
    font-size: 14px;
}

.template-container .template-section .cards {
    display: flex;
    align-items: center;
    margin-top: 5px;
    overflow: scroll;
}

.template-container .template-section .cards img {
    height: auto;
    width: 140px;
    border-radius: 10px;
    margin-right: 10px;
}

.template-container .template-section .cards .arrow {
    height: 36px;
    width: 13px;
}