.upload-container {
  padding: 15px;
}

.upload-container .upload-button {
  margin-top: 15px;
  width: 100%;
  height: 50px;
  background: #ff8a25;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.upload-container .grid {
  margin: 10px 0px;
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-template-rows: masonry;
  gap: 10px;
  align-items: center;
}

.upload-container .grid img {
  display: inline-block;
  width: 100%;
  border-radius: 5px;
}

