@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f9;
  font-family: "Poppins", sans-serif;
}

textarea {
  font-family: "Poppins", sans-serif;
}

input {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

textarea:focus {
  outline: none;
}

*::-webkit-scrollbar {
  display: none;
}

*:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.left-header-title {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(64, 64, 64, 0.1);
}

.left-search-box {
  background: rgba(255, 138, 37, 0.1);
    height: 50px;
  margin-top: 15px;
  width: 100%;
  border-radius: 10px;
  padding: 0px 15px;
  font-size: 16px;
  border: none;
}

.left-search-box::placeholder {
  color: #FF8A25;
  opacity: 1; /* Firefox */
}

